body {
    background-color: rgb(55, 233, 174);
    font-family: "Ubuntu", serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    min-width: 380px;
}

.section {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-auto-rows: 140px;
    gap: 20px
}

.item {
    background-color: rgb(165, 117, 209, 0.7);
    border: 3px dashed black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
}
.item:hover {
    background-color: rgba(165, 117, 209, 1); /* Add a hover effect */
    transform: scale(1.05); /* Slightly enlarge on hover */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.item.empty{
    background-color: rgba(0, 0, 0, 0);
}

a.item {
    text-decoration: none;
    color: black;
}

.item-image {
    margin: 0;
    width: 40px;
    height: auto;
}

.item-text {
    margin: 0;
}