body {
    text-align: center;
    background-color: #283149;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
  }

  #title {
    min-width: 620px;
    margin: 1rem 0;
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  }

  .octave-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #octave-text {
    min-width: 200px;
    margin: 0;
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 2px 0 #DA0463;
  }

  .octave-button {
    background-color: rgba(255, 255, 255, 0.274);
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 5px;
    z-index: 1;

  }

  .octave-button:disabled {
    opacity: 0.2;
  }

  .arrow-svg {
    width: 35px;
  }


  .key-container {
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }

  .keys {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  .sharp-keys {
    display: flex;
    justify-content: space-around;
   }

  .natural-keys {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .synth-key.sharp {
    color: #ffffff;
    text-shadow: 3px 0 #DA0463;
    font-size: 1.5rem;
    background-color: rgb(95, 17, 17);
    width: 55px;
    height: 120px;
    position: relative;
    z-index: 1;
    top: 100px;

  }

.synth-key {
    outline: none;
    border: 5px solid #404B69;
    font-size: 2rem;
    font-family: 'Arvo', cursive;
    line-height: 1;
    font-weight: 900;
    color: rgb(220, 4, 101);
    text-shadow: 3px 0 #add1dd;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    background-color: ivory;
    width: 65px;
    height: 200px;

    /* Flexbox for text alignment */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;

    /* Add transition for smooth shrinking */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.synth-key:active {
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(233, 37, 125, 0.6);
}

.synth-key.active {
    transform: scale(0.95); /* Slightly shrink the button */
    box-shadow: 0 4px 6px rgba(233, 37, 125, 0.6);
}
  
  #c {
  }

  #cs {
    left: 10px;

  }

  #d {

  }

  #ds {
    right: 30px;

  }

  #e {

  }

  #f {

  }

  #fs {
    right: 2px;

  }

  #g {

  }

  #gs {
    right: 42px;
  }

  #a {

  }

  #as {
    right: 83px;

  }

  #b {

  }

  #c2 {

  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }  

  #footer-section {
    color: #DBEDF3;
    font-family: sans-serif;
    margin: 3rem;
  }